@import "open-props.min.css";
@import "normalize.min.css";

/* the following switch imports have selectors that enable the override of the system setting */
@import "theme.light.switch.min.css";
@import "theme.dark.switch.min.css";

:root {
  background: white;
  --primary: #005EB8;
  --secondary: #009639 ;
  scrollbar-color: var(--primary) transparent;
}

@media (max-width: 980px) {
  h1 {
    font-size: var(--font-size-7);
  }

  h2 {
    font-size: var(--font-size-5);
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: var(--font-size-5);
  }

  h2 {
    font-size: var(--font-size-4);
  }

}

body {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  width: min(100% , 1200px);
  margin-inline:  auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  margin-left: var(--size-4);
}

@media (min-width: 800px) {
  main {
    margin-left: var(--size-8);
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

footer {
  display: grid;
  gap: var(--size-4);
  margin-block: var(--size-4);
  place-items: center;
  color: var(--text-2);
  text-align: center;
}

/**
 * Grid
 * Minimal grid system with auto-layout columns
 */
.grid {
  grid-column-gap: var(--size-8);
  grid-row-gap: var(--size-5);
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}
.grid > * {
  min-width: 0;
}

.fg {
  color: var(--text-1);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

header {
  background: white;
  align-items: center;
  margin-left: var(--size-4);
}

@media (min-width: 800px) {
  header {
    margin-left: var(--size-8);
  }
}

@media (max-width: 800px) {
  .promo-art {
    margin-left: calc(var(--size-8) * -1);
  }
}

.hero {
  margin-top: var(--size-4);
  display: grid;
  gap: var(--size-5);
}

.hero-message {
  display: grid;
  grid-template-columns: max-content;
  color: var(--text-1);
  line-height: var(--font-lineheight-0);
}

.contact {
  font-size: var(--font-size-4);
}

.hero-message > div:last-child {
  color: var(--primary);
}

.under-hero {
  color: var(--text-2);
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);
}

.promo-art {
  align-self: stretch;
}

.client-list {
  stroke: var(--primary);
  display: grid;
  gap: var(--size-1);
  padding-inline-start: 18px;
  > li {
    font-size: var(--font-size-3);
  }
}

.checkmark-list {
  list-style-type: none;
  stroke: var(--primary);
  align-self: flex-start;
  display: grid;
  gap: var(--size-2);  
  font-size: var(--font-size-fluid-1);
  padding-inline-start: 0;
}

.checkmark-list > li {flex-shrink: 0;}

.checkmark-list > li > div {
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
  align-items: center;
}

.checkmark-list > li > div > svg {flex-shrink: 0;}

h1>* {
  opacity: 0;
  animation: var(--animation-fade-in) forwards,var(--animation-slide-in-up) forwards;
  animation-timing-function: var(--ease-out-5);
  animation-delay: .5s;
  font-size: var(--font-size-9);
}

h1>*:last-child {
  animation-delay: .6s;
}

.checkmark-list>li {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  padding-inline-start: 0;
}

.promo-art > img {
  block-size: 100%;
  object-fit: cover;
}

h3 {
  font-size: var(--font-size-4);
}

.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  padding-block: var(--size-2);
  scroll-padding-inline: 5vmin;
  gap: var(--size-2);
  > img {
    height: 400px;
    scroll-snap-align: center;
  }
}

span.bt {
  display: none;
}
